@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

@* the fun starts here *@

<div id="fh5co-contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>@Umbraco.AssignedContentItem.GetPropertyValue("title")</h2>
                <p><span>@Umbraco.AssignedContentItem.GetPropertyValue("subTitle")</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Como contactar</h3>
                <ul class="contact-info">
                    <li><i class="sl-icon-map"></i>Carril de Castell, 13 29016 Málaga</li>
                    <li><i class="sl-icon-phone"></i>+34 664 664 664</li>
                    <li><i class="sl-icon-envelope-open"></i><a href="#">info@rayuela2.com</a></li>
                    <li><i class="sl-icon-globe-alt"></i><a href="#">www.rayuela.com</a></li>
                </ul>
            </div>
            <div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="Nombre" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input value="Enviar mensaje" class="btn btn-primary" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map" data-animate-effect="fadeIn"></div>

@section ScriptsBottom{
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="~/Scripts/google_map.js"></script>
}
