@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

@* the fun starts here *@


<div id="fh5co-main-services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>@Umbraco.AssignedContentItem.GetPropertyValue("title")</h2>
                <!--<p><span>Created with <i class="sl-icon-heart"></i> by the fine folks at <a href="http://freehtml5.co">FreeHTML5.co</a></span></p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 services-inner">
                        <span><i class="sl-icon-wrench"></i></span>
                        <div class="desc">
                            <h3>Talleres</h3>
                            <p>
                                ¿Cómo aprendemos en Rayuela?
                                Somos el mejor camino hacia el aprendizaje. Planteamos un centro lúdico en el que el juego es la herramienta principal con la que los más pequeños se relacionan socialmente y aprenden, desarrollando así correctamente su entorno físico, psíquico y emocional.

                                En Rayuela partimos del aprendizaje del comportamiento y, a partir de ahí, basamos todos nuestros juegos y actividades, para que así los niños aprendan universales de la educación y convivencia. No creemos que un método sea el único y el mejor, por eso apostamos por una motodolgía ecléptica, juntando lo mejor de cada uno para obtener lo mejor de cada alumno.

                                Además en nuestro centro trabamos por una convivencia inslusiva efectiva, donde dejan de existir “niños con problemas” y aparecen niños con ilusiones, ganas de aprender y avanzar en su desarrollo.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 services-inner">
                        <span><i class="sl-icon-book-open"></i></span>
                        <div class="desc">
                            <h3>Inglés</h3>
                            <p>
                                ¿Clases de inglés en Rayuela?
                                Complementamos nuestra ludoteca con las clases de inglés infantil más profesionales y entretenidas con una oferta especial de Cenat Idiomas: 44€, dos días en semana.

                                Llámanos y pregunta por los horarios y grupos.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 services-inner">
                        <span><i class="sl-icon-clock"></i></span>
                        <div class="desc">
                            <h3>Horario Flexible</h3>
                            <p>
                                Horario flexible
                                En Rayuela estamos abiertos de lunes a jueves de 7:30 a 20 horas y viernes de 7:30 a 17 horas.
                                Julio: de 7:30 a 18h
                                Agosto: de 8 a 17h

                                ¿Y cuándo puedo dejar allí a mi peque?
                                Tenemos dos turnos completos, el de mañana y el de tarde, con llegada y salida cuando quieras dentro del turno:

                                Turno de mañana (guardería): de 7:30 a 17 horas
                                Turno de tarde (ludoteca): de 17 a 20 horas
                                Aparte de los turnos completos, ¿puedo dejarlo en horas puntales o sueltas?
                                Claro que sí, en Rayuela somos flexibles y queremos que puedas organizarte cómodamente. Por eso ofrecemos opciones por horas, para que puedas traer y recoger a tu niño cuando quieras.

                                Los peques que vayan a venir de forma esporádica en horario de tarde tendrán que avisar como muy tarde hasta las 16:00 horas, por organización del centro para mantenerlo abierto en su caso.

                                ¿Y los fines de semana?
                                Además de actividades concretas, que iremos promocionando en Facebook y la Web, Rayuela te abre la posibilidad de atender a los peques, tanto habituales de Rayuela como externos, siempre que se forme un grupo mínimo de 5 para ello. Si tienes una boda, evento, comida, viaje, trabajo o simplemente necesitas que te cuiden a los niños el sábado o el domingo, ¡estamos a tu disposición!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-md-4">
                <aside class="sidebar">
                    <div class="row">
                        <div class="col-md-12 side">
                            <h3>Categories</h3>
                            <ul>
                                <li><i class="icon-check"></i><a href="#">Web Design</a></li>
                                <li><i class="icon-check"></i><a href="#">Branding &amp; Identity</a></li>
                                <li><i class="icon-check"></i><a href="#">Free HTML5</a></li>
                                <li><i class="icon-check"></i><a href="#">HandCrafted Templates</a></li>
                                <li><i class="icon-check"></i><a href="#">Free Bootstrap Template</a></li>
                                <li><i class="icon-check"></i><a href="#">Free HTML5 Template</a></li>
                                <li><i class="icon-check"></i><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
                                <li><i class="icon-check"></i><a href="#">HandCrafted Templates</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 side">
                            <h3>Paragraph</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </aside>
            </div>
            -->
        </div>
    </div>
</div>
