<div id="fh5co-blog-section" class="fh5co-grey-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Posts Recientes</h2>
                <p>Aquí tenéis las publicaciones más recientes relacionadas con nuestra guarde</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="blog-inner">
                    <a href="#"><img class="img-responsive" src="images/sabado.jpg" alt="Blog"></a>
                    <div class="desc">
                        <h3><a href="#">Noche Rayuela!</a></h3>
                        <p>
                            Este Viernes fiesta para los más pequeños, salir y desconectar un rato y nosotras haremos fiesta en Rayuela con vuestros hijos.💃🎉🎊
                            #viernesmolongo
                            #fiestaparapapis
                        </p>
                        <p><a href="https://www.facebook.com/centrorayuelainfantil/photos/a.1754918774749260/2429412397299891/?type=3&theater" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="blog-inner">
                    <a href="#"><img class="img-responsive" src="images/taller.jpg" alt="Blog"></a>
                    <div class="desc">
                        <h3><a href="#">Nuevo taller</a></h3>
                        <p>
                            Hoy empezamos con un maravilloso taller de habilidades sociales🥰
                            #granprofesional@maryori456
                            #emocion #aprendizaje #ilusión
                        </p>

                        <p><a href="https://www.facebook.com/centrorayuelainfantil/photos/a.1754918774749260/2427425297498601/?type=3&theater" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="blog-inner">
                    <a href="#"><img class="img-responsive" src="images/flores.jpg" alt="Blog"></a>
                    <div class="desc">
                        <h3><a href="#">Felicitaciones</a></h3>
                        <p>
                            Y seguimos recibiendo así las mañanas🥰🥰
                            #detallesquelleganalcorazon
                            #agradecidasporvuestrocariño
                            #yaosechamosdemenos
                        </p>
                        <p><a href="https://www.facebook.com/centrorayuelainfantil/photos/pcb.2425415584366239/2425415517699579/?type=3&theater" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
