<div id="fh5co-client-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Opiniones de padres</h2>
                <p>Testimonios de algunos padres.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="testimony">
                    <span class="quote"><i class="icon-quote-right"></i></span>
                    <blockquote>
                        <p>He tenido a mis dos hijos durante el período desde los 0 años a los 3 años hasta que han entrado en el colegio, y volvería a llevarlos si tuviese esa necesidad.</p>
                        <span>Pedro Martínez, via <a href="#" class="icon-twitter twitter-color"></a></span>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="testimony">
                    <span class="quote"><i class="icon-quote-right"></i></span>
                    <blockquote>
                        <p>Llevo a mi hija a ésta guardería desde los 4 meses y lo que más me gusta es la tranquilidad con la que me voy cuando la dejo sabiendo que está en manos de profesionales</p>
                        <span>Isabel López, via <a href="#" class="icon-google-plus googleplus-color"></a></span>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
