<div id="fh5co-featured-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="~/images/grupo.jpg" class="featured-grid" style="background-image: url(images/grupo.jpg);">
                    <div class="desc">
                        <h3>Grupo de niños</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="images/banner.jpg" class="featured-grid featured-grid-2" style="background-image: url(images/banner.jpg);">
                    <div class="desc">
                        <h3>Entrada</h3>
                    </div>
                </a>
                <div class="row">
                    <div class="col-md-6">
                        <a href="images/feria.jpg" class="featured-grid featured-grid-2" style="background-image: url(images/feria.jpg);">
                            <div class="desc">
                                <h3>Decoración de feria</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="images/jardin.jpeg" class="featured-grid featured-grid-2" style="background-image: url(images/jardin.jpeg);">
                            <div class="desc">
                                <h3>Jardín</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
