<div id="fh5co-services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Nuestros Servicios</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 services-inner text-center">
                <span><i class="sl-icon-home"></i></span>
                <h3>Guardería | Ludoteca</h3>
                <p>El principal objetivo del centro es recibir a los niños para formarlos.</p>
            </div>
            <div class="col-md-4 services-inner text-center">
                <span><i class="sl-icon-wrench"></i></span>
                <h3>Talleres</h3>
                <p>Organizamos todo tipo de talleres tanto para niños como para adultos.</p>
            </div>
            <div class="col-md-4 services-inner text-center">
                <span><i class="sl-icon-book-open"></i></span>
                <h3>Inglés</h3>
                <p>Contamos con profesores nativos para impartir las clases de inglés.</p>
            </div>

        </div>
    </div>
</div>
